* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}


html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

header {
    height: 100vh;
}

header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 5rem;
    margin-top: 3rem;
    letter-spacing: 5px;
}

header p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 3px;
}

nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin-inline: 1.5rem;
    font-size: 110%;
    letter-spacing: 5px;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
}

.quote-wrapper {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-style: italic;
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 10rem;
    border: 0.5px solid black;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.quote-wrapper p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-style: italic;
}

#life-hacks {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-block: 5rem;
    padding: 2rem;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.life-hack-pictures {
    padding: 2rem;
}

.box h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-bottom: 2rem;
}

.box p {
    line-height: 1.8rem;
    font-size: 1.3rem;
}

footer {
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

#submit-form>* {
    display: block;
}

#submit-form {
    padding: 2rem;
}

#submit-form h4 {
    text-decoration: underline;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

form label {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

form input {
    margin-block: 0.3rem;
    padding: 0.3rem;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

textarea {
    resize: none;
    border-radius: 3px;
    padding: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

button {
    background-color: white;
    color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin-block: 0.3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.contact {
    padding: 2rem;
}

.contact h3 {
    margin-bottom: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.contact p {
    margin-block: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.contact i {
    margin-right: 8px;
}

#social-media {
    padding: 2rem;
}

#social-media h3 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

#social-media p {
    list-style: none;
    margin: 2rem;
}

.media-icons {
    display: flex;
}

@media only screen and (max-width: 600px) {

    header {
        height: auto;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .quote-wrapper {
        width: 90%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #life-hacks {
        font-size: 2rem;
    }

    .container {
        width: 90%;
    }

    .footer-content {
        flex-direction: column;

    }

    .contact>* {
        text-align: center;
    }

    .media-icons {
        display: flex;
        justify-content: center;
    }

    #description {
        width: 100%;
    }

    #submit-form h4 {
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {
    .quote-wrapper {
        width: 90%;
        margin-top: 5rem;
        margin-bottom: 1.5rem;
    }

    #life-hacks {
        font-size: 2rem;
    }

    .container {
        width: 90%;
    }

    .footer-content {
        flex-direction: column;

    }

    .contact>* {
        text-align: center;
    }

    .media-icons {
        display: flex;
        justify-content: center;
    }

    #description {
        width: 100%;
    }

    #submit-form h4 {
        text-align: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .quote-wrapper {
        margin-top: 3rem;
    }

    .footer-content {
        width: 100%;
    }
}