* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}


html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

header {
    height: 100vh;
}

header h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 3rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin-inline: 1.5rem;
}

.quote-wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 10rem;
    border: 0.5px solid black;
    background-color: #ffffff10;
}

.quote-wrapper p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-style: italic;
}

#life-hacks {
    text-align: center;
    font-size: 2.5rem;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-block: 5rem;
    padding: 2rem;
    background: linear-gradient(to top, #09203f 0%, #537895 0%);
}

.life-hack-pictures {
    padding: 2rem;
}

.box h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.box p {
    line-height: 1.5rem;
    font-size: 1.3rem;
}

footer {
    background: linear-gradient(to top, #09203f 0%, #537895 0%);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

#submit-form>* {
    display: block;
}

#submit-form {
    padding: 2rem;
}

form label {
    padding: 0.2rem;
}

form input {
    margin-block: 0.3rem;
    padding: 0.3rem;
    width: 100%;
    border-radius: 3px;
}

textarea {
    resize: none;
    border-radius: 3px;
    padding: 0.3rem;
}

button {
    background-color: green;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-block: 0.3rem;
}

.contact {
    padding: 2rem;
}

.contact h3 {
    margin-bottom: 1.5rem;
}

.contact p {
    margin-block: 1rem;
}

.contact i {
    margin-right: 5px;
}

#social-media {
    padding: 2rem;
}

#social-media h3 {
    margin-bottom: 1.5rem;
}

#social-media p {
    display: flex;
    justify-content: center;
    list-style: none;
}